<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="Page-Enter" content="blendTrans(Duration=2.0)">
    <title>可视化学习数据管理系统</title>
    
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index/style.css">
      <script type="text/javascript" src="/js/jquery.min2.1.4.js" ></script>
      <!-- <script src="js/jquery.3.3.1.js"></script> -->
    <script type="text/javascript" src="/js/bootstrap.min.js" ></script>  <!-- 首页面样式 -->
<style type="text/css">
.main-container .page-content{
background: transparent;
}
#tp{
background: transparent;
}
</style>


<!-- ----------------------------------------------------------------------- 时间鼠标显示   -->
<style>
.dropdown {
  position:absolute;
  display: inline-block;
  left:-200px;
}
 .dropdown-content {
   display: none; 
   position: absolute;
   z-index:110020;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align:left;
}
.dropdown:hover .dropdown-content {
  display:block;
}
</style>


</head>
<body>
 	<!--  验证是否登录  -->
    <script type="text/javascript">
        var adata = "1";
        var arr = "";
        var data = JSON.stringify(adata);
        $.ajax({
            type: "POST",
            contentType:"application/json",
            url: "/login/iflogin",
            data: data,
            dataType: "json",
            success: function(data){
                if(data.nickname!=null){
                	sessionStorage.setItem('username', data.nickname);
                    arr = "<div class='navimg'><div class='btn-group' style='back'><a href='#' style='width:45px;overflow:hidden;white-space:nowrap;'>"+data.nickname+"</a><span class='caret' id='b_nav'></span><ul class='dropdown-menu' role='menu' id='ee' style='background-color:rgba(0,0,0,0);min-width: 16px;'><li><a onclick='quit();' class='zc'>注&nbsp;&nbsp;销</a></li></ul></div></div>"
                    $("#nickname").html(arr);
                    $(document).ready(function(){
                       $("#b_nav").click(function(){
               			$("#ee").toggle();
               			});
               		});
                }
            },
        });
	        
	        
        //登录框下拉
        $(document).ready(function(){
        	
	        $("#b_nav").click(function(){
	        	$("#ee").toggle();
			});
	        
		});
	        
	      
        
        $(function(){
            //点击超链接局部刷新页面
            $(".navimg>a").click(function(){
            	if(sessionStorage.getItem("username") == null){
            		alert("请先登录");
            		return false;
            	}
            	$(".navimg a").css("border-bottom","solid rgba(0,0,0,0) 2px");
            	$(this).css("border-bottom","solid #DA4E43 2px");
            	//$(".top").css('background-image',' linear-gradient(90deg, black, red)');
            	$("#view").load(this.href); 
                return false;
            });
        });
	        
	    </script>
    
    
    
		<!-- 重写一个退出功能 -->
		<script type="text/javascript">
		
		  function quit(){
			  
			  $.ajax({
		          type: "POST",
		          contentType:"application/json",
		          url: "quitLogin.do",
		          data: data,
		          dataType: "json",
		          success: function(data){
		          	
		          	if(data.a=="1"){
		          		sessionStorage.clear();
		          		location.href = "index.do";	
		          	  }
		          	},
		        });
		  }
		
		</script>
	
	
	
	
    <!-- 手机页面下拉框显示,监听滚动条 -->
	<script>
		$(document).ready(function(){
		$("#btn_nav").click(function(){
		$("#example-navbar-collapse").toggle();
		});
		});
		
		window.onscroll = function(){
			var t = document.documentElement.scrollTop || document.body.scrollTop;
		       
	        if( t == 0 ) {
	        	$("#tp").css("background","transparent");
	        } else {
	        	$("#tp").css("background","#f3f3f3");
	        }
	    };
	</script>
	
	
	
	<!-- 顶部导航栏  -->
    <div class="top">
    	
    	
    
        <div class="row navbar-fixed-top" style="width: 100%;margin-left: 0;" id="tp">
            <div class="col-md-7">
                <p id="logo_o" class="logo_n"><a style="color:#D5362A;text-decoration: none;
                ">可视化学习</a>数据管理系统 </p>
            </div>
            <div class="col-md-5 text-center" style="display: flex">
                
                <div class="navimg" >

                   <div class="dropdown" style="width:160px">
                      
                         

                   
                       <b><span id="shijian" style="font-size:18px;">
                           <script type="text/javascript">
                           function mytime(){
                         
                               var a= new Date(+new Date()+8*3600*1000).toISOString().replace(/T/g,' ').replace(/\.[\d]{3}Z/,'');

                               document.getElementById("shijian").innerHTML =a;
                               }
                           setInterval(function() {mytime()},1000);
                           </script>
                       </span></b>
                          <div class="dropdown-content">
                          <div id="calendar" class="calendar"  style="width:370px"></div>
<style>
* { margin: 0; padding: 0; }
body { font-family: "Microsoft Yahei"; font-size: 12px; color: #888; }
a, a:hover { color: #888; text-decoration: none; }
ul, li { list-style: none; }

.calendar {
  /* display: none; */
  width: 350px;
  padding: 10px;
  /* margin: 30px auto 0; */
  background-color: #f5f5f5;
  border-radius: 6px;
}
.calendar-title {
  position: relative;
  height: 30px;
  line-height: 30px;
  padding: 10px 0;
}
.calendar-title a.title {
  display: inline-block;
  font-size: 26px;
  text-indent: 10px;
}
#backToday {
  position: absolute;
  left: 70%;
  top: 0px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(255, 128, 142);
  font-size: 18px;
}
.calendar-title .arrow {
  position: absolute;
  top: 10px;
  right: 0;
  width: 50px;
}
.calendar-title .arrow span {
  color: #928f8f;
  font-size: 26px;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.calendar-title .arrow span:hover {
  color: #888;
}
.calendar-title .arrow-prev {
  float: left;
}
.calendar-title .arrow-next {
  float: right;
}
.calendar-week,
.calendar-date {
  overflow: hidden;
}
.calendar-week .item,
.calendar-date .item {
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.calendar-week {
  padding-bottom: 6px;
  border-bottom: 1px solid rgb(255, 128, 142);
  font-weight: bold;
  font-size: 16px;
}
.calendar-date {}
.calendar-date .item {
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
}
.calendar-date .item:hover,
.calendar-date .item-curMonth:hover {
  background-color: #f0f0f0;
}
.calendar-date .item-curMonth {
  color: #333;
}
.calendar-date .item-curDay,
.calendar-date .item-curDay:hover {
  color: #fff;
  background-color: rgb(255, 128, 142);
}
.calendar-today {
  /* display: none; */
  opacity: 0;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 90px;
  height: 48px;
  padding: 6px 10px;
  background-color: rgb(255, 128, 142);
  border-radius: 5px;
  z-index:10;
}
.calendar-today .triangle {
  position: absolute;
  top: 50%;
  left: -16px;
  margin-top: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent rgb(255, 128, 142) transparent transparent;
}
.calendar-today p {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}
</style>

<div style="text-align:center;clear:both">

<script type="text/javascript">
//关于月份： 在设置时要-1，使用时要+1
$(function () {

  $('#calendar').calendar({
    ifSwitch: true, // 是否切换月份
    hoverDate: true, // hover是否显示当天信息
    backToday: true // 是否返回当天
  });

});

;(function ($, window, document, undefined) {

  var Calendar = function (elem, options) {
    this.$calendar = elem;

    this.defaults = {
      ifSwitch: true,
      hoverDate: false,
      backToday: false
    };

    this.opts = $.extend({}, this.defaults, options);

    // console.log(this.opts);
  };

  Calendar.prototype = {
    showHoverInfo: function (obj) { // hover 时显示当天信息
      var _dateStr = $(obj).attr('data');  
      var offset_t = $(obj).offset().top + (this.$calendar_today.height() - $(obj).height()) / 2;  
      var offset_l = $(obj).offset().left + $(obj).width();
      var changeStr = _dateStr.substr(0, 4) + '-' + _dateStr.substr(4, 2) + '-' + _dateStr.substring(6);
      var _week = changingStr(changeStr).getDay(); 
      var _weekStr = ''; 
      this.$calendar_today.show();

      this.$calendar_today
            .css({left: offset_l + 30, top: offset_t})
            .stop()
            .animate({left: offset_l + 16, top: offset_t, opacity: 1});

      switch(_week) {
        case 0:
          _weekStr = '星期日';
        break;
        case 1:
          _weekStr = '星期一';
        break;
        case 2:
          _weekStr = '星期二';
        break;
        case 3:
          _weekStr = '星期三';
        break;
        case 4:
          _weekStr = '星期四';
        break;
        case 5:
          _weekStr = '星期五';
        break;
        case 6:
          _weekStr = '星期六';
        break;
      } 
      this.$calendarToday_date.text(changeStr);
      this.$calendarToday_week.text(_weekStr);
    },

    showCalendar: function () { // 输入数据并显示
      var self = this;
      var year = dateObj.getDate().getFullYear();
      var month = dateObj.getDate().getMonth() + 1;
      var dateStr = returnDateStr(dateObj.getDate());
      var firstDay = new Date(year, month - 1, 1); // 当前月的第一天 
      this.$calendarTitle_text.text(year + '/' + dateStr.substr(4, 2));

      this.$calendarDate_item.each(function (i) {
        // allDay: 得到当前列表显示的所有天数
        var allDay = new Date(year, month - 1, i + 1 - firstDay.getDay());
        var allDay_str = returnDateStr(allDay);

        $(this).text(allDay.getDate()).attr('data', allDay_str);

        if (returnDateStr(new Date()) === allDay_str) {
          $(this).attr('class', 'item item-curDay');
        } else if (returnDateStr(firstDay).substr(0, 6) === allDay_str.substr(0, 6)) {
          $(this).attr('class', 'item item-curMonth');
        } else {
          $(this).attr('class', 'item');
        }
      });
    },

    renderDOM: function () { // 渲染DOM
      this.$calendar_title = $('<div class="calendar-title"></div>');
      this.$calendar_week = $('<ul class="calendar-week"></ul>');
      this.$calendar_date = $('<ul class="calendar-date"></ul>');
      this.$calendar_today = $('<div class="calendar-today"></div>');
       
      var _titleStr = '<a href="#" class="title"></a>'+
                      '<a href="javascript:;" id="backToday">T</a>'+
                      '<div class="arrow">'+
                        '<span class="arrow-prev"><</span>'+
                        '<span class="arrow-next">></span>'+
                      '</div>';
      var _weekStr = '<li class="item">日</li>'+
                      '<li class="item">一</li>'+
                      '<li class="item">二</li>'+
                      '<li class="item">三</li>'+
                      '<li class="item">四</li>'+
                      '<li class="item">五</li>'+
                      '<li class="item">六</li>';
      var _dateStr = '';
      var _dayStr = '<i class="triangle"></i>'+
                    '<p class="date"></p>'+
                    '<p class="week"></p>';

      for (var i = 0; i < 6; i++) {
        _dateStr += '<li class="item">26</li>'+
                    '<li class="item">26</li>'+
                    '<li class="item">26</li>'+
                    '<li class="item">26</li>'+
                    '<li class="item">26</li>'+
                    '<li class="item">26</li>'+
                    '<li class="item">26</li>'; 
      }

      this.$calendar_title.html(_titleStr);
      this.$calendar_week.html(_weekStr);
      this.$calendar_date.html(_dateStr);
      this.$calendar_today.html(_dayStr);  
      this.$calendar.append(this.$calendar_title, this.$calendar_week, this.$calendar_date, this.$calendar_today); 
      this.$calendar.show();
    },

    inital: function () { // 初始化
      var self = this;

      this.renderDOM();

      this.$calendarTitle_text = this.$calendar_title.find('.title');
      this.$backToday = $('#backToday');
      this.$arrow_prev = this.$calendar_title.find('.arrow-prev');
      this.$arrow_next = this.$calendar_title.find('.arrow-next');
      this.$calendarDate_item = this.$calendar_date.find('.item');
      this.$calendarToday_date = this.$calendar_today.find('.date'); 
      this.$calendarToday_week = this.$calendar_today.find('.week');

      this.showCalendar();

      if (this.opts.ifSwitch) {
        this.$arrow_prev.bind('click', function () {
          var _date = dateObj.getDate();

          dateObj.setDate(new Date(_date.getFullYear(), _date.getMonth() - 1, 1));

          self.showCalendar();
        });

        this.$arrow_next.bind('click', function () {
          var _date = dateObj.getDate();

          dateObj.setDate(new Date(_date.getFullYear(), _date.getMonth() + 1, 1));

          self.showCalendar();
        });
      }

      if (this.opts.backToday) {
        this.$backToday.bind('click', function () {
          if (!self.$calendarDate_item.hasClass('item-curDay')) {
            dateObj.setDate(new Date());

            self.showCalendar();
          }
        });
      }

      this.$calendarDate_item.hover(function () {
        self.showHoverInfo($(this));
        console.log($(this))
      }, function () {
        self.$calendar_today.css({left: 0, top: 0}).hide();
      });
    },

    constructor: Calendar
  };

  $.fn.calendar = function (options) {
    var calendar = new Calendar(this, options);

    return calendar.inital();
  };


  // ========== 使用到的方法 ==========

  var dateObj = (function () {
    var _date = new Date();

    return {
      getDate: function () {
        return _date;
      },

      setDate: function (date) {
        _date = date;
      }
    }
  })();

  function returnDateStr(date) { // 日期转字符串
    var year = date.getFullYear();
    var month = date.getMonth() + 1;
    var day = date.getDate();

    month = month < 9 ? ('0' + month) : ('' + month);
    day = day < 9 ? ('0' + day) : ('' + day);

    return year + month + day;
  };

  function changingStr(fDate) { // 字符串转日期
    var fullDate = fDate.split("-");
    
    return new Date(fullDate[0], fullDate[1] - 1, fullDate[2]); 
  };

})(jQuery, window, document);
</script>
</div>
                          
                          
                          
                       </div>
                   </div>
                </div>
                <div class="navimg"><div><a class="a_now" href="index.do">首&nbsp;&nbsp;页</a></div></div>
                <div class="navimg"><a href="view.do">资&nbsp;&nbsp;源</a></div>
                <div class="navimg" style="white-space:nowrap;"><a href="/mindMap/mindmap">知识图谱</a></div>
                <div class="navimg"><a href="study.do">学&nbsp;&nbsp;习</a></div>
				<div class="navimg" id='nickname'>
	                <div class="btn-group" style="back">
						<a href="testLogin.do">登&nbsp;&nbsp;录</a> <span class="caret" id="b_nav"></span>
						<ul class="dropdown-menu" role="menu" id="ee" style="background-color:rgba(0,0,0,0); min-width: 16px;">
							<li><a href="register.do" class="zc">注&nbsp;&nbsp;册</a></li>
						</ul>
					</div>
                </div>
                
                
            </div>
        </div>
        
       
       
        <!-- 手机端导航栏（bug） -->
       	<div class="navbar navbar-default navbar-fixed-top" id="dnav">
       	<div class="nav navbar-header navbar-fixed-top ">
           <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse" id="btn_nav">
           <span class="sr-only"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           </button>
           </div>
           <div class="collapse navbar-collapse" id="example-navbar-collapse" style="float:left;">
               <ul class="nav navbar-nav ">
                   <li><a href="view.do">资&nbsp;&nbsp;源</a></li>
                   <li><a href="mindMap.do">知识图谱</a></li>
                   <li><a href="study.do">学&nbsp;&nbsp;习</a></li>
                   <li><a href="testLogin.do">登&nbsp;&nbsp;录</a></li>
                   <li><a href="register.do" class="zc">注&nbsp;&nbsp;册</a></li>
               </ul> 
          </div>
        </div>
           
           
            
        <div id="view">
        <div class="row" style="height:605px;width: 100%;margin-left: 0;">
            <div class="col-md-10 col-md-offset-1 get-it" style="height: 300px;margin-top: 5vh;">
                <h1 class="logo">可视化学习数据管理系统</h1>
                <p class="top_s">A new idea of learning</p>
                <p class="top_p">Easy to use documentation mind graph real-time collaborative editing.</p>
                <center><button onclick="window.location.href='register.do'" class="signup-btn 
                btn btn-primary btn-block btn-lg btn-signin" id="btn1" data-track-category="landing"
                 data-track-action="test-now-landing-top" type="submit">Try now</button></center>
                <p class="top_p" style="margin-top: 5px;"><a href="#middle" style="transition: 1s;
                "><span class="glyphicon glyphicon-triangle-bottom" style="position: relative;top:5px;
                "></span>learn more</a></p>
            </div>
        </div>
        
        
  
    <div class="row">
    <a id="middle">&nbsp;</a>
    <h3 class="heart">Teams<a>❤</a>University</h3>
    </div>
    
    
    
    <!-- 动图模块(第一部分)左 -->
    <div class="row" style="width: 100%;margin-left: 0;padding-bottom: 50px;">
        <div class="col-md-6">
            <img src="/images/gif/GIF1.gif" style="max-width: 100%;height: auto;border:solid 1px #CCC; box-shadow: #E8E8E8 3px 4px 10px 0;">
        </div>
        <div class="col-md-6 text-center" style="font-family:'方正舒体';margin-bottom:20px;">
            <h2>可视化学习数据管理系统</h2><h3>Knowledge Graph</h3>
        </div>
        <div class="txt" style="font-family:'华文楷体'"><p>构建清晰而个性化的知识体系.
                      致力于将抽象的内容转换为更为清晰的图结构.</p>
         <p>Mind Map充分运用左右脑的机能，利用记忆、阅读、思维的规律，协助人们在科学与艺术、逻辑与想象之间平衡发展，从而开启人类大脑的无限潜能.
         </p>
         <p>用户可实时构建,调整,分享，讨论相关的知识图谱</p>
        </div>
    </div>
    
    
    
    <!-- 动图模块(第二部分)右 -->
    <div class="row" style="width: 100%;margin-left: 0;background:#F2F2F2;
    padding-top: 50px;padding-bottom: 50px;">
        <div class="col-md-6">
           <div class="text-center" style="font-family:'方正舒体'">
            <h2>可视化学习数据管理系统</h2><h3>Knowledge Point</h3>
        </div>
        <div class="txt" style="font-family:'华文楷体'">
        <p>知识点描述基于Mind Map的每个节点</p>
        <p>在知识图谱的每个具体的节点上可添加相关的描述,图片，或是表格.</p>
        <p>协助丰富知识图谱的内容</p>
        </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/gif/GIF3.gif" style=" max-width: 100%;height: auto;border:solid 1px #CCC;
            box-shadow: #E8E8E8 3px 4px 10px 0;">
        </div>
    </div>
    
    
    
    <!-- 动图模块(第三部分)左 -->
    <div class="row" style="width: 100%;margin-left: 0;    padding-top: 50px;padding-bottom: 50px;">
        <div class="col-md-6">
            <img src="/images/gif/GIF2.gif" style="max-width: 100%;height: auto;border:solid 1px #CCC;
            box-shadow: #E8E8E8 3px 4px 10px 0;">
        </div>
        <div class="col-md-6">
        <div class="text-center" style="font-family:'方正舒体'">
            <h2>可视化学习数据管理系统</h2><h3>Mind Share</h3>
        </div>
        <div class="txt" style="font-family:'华文楷体'"><p>知识图谱分享.</p>
        <p>可快速的根据知识图谱的名字和用户的ID，搜索到知识图谱社区中分享过的知识图谱</p>
        <p>查看他人的知识图谱，取长补短，归纳学习</p>
        </div>
        </div>
    </div>
    
    
    
    <!-- 推荐使用理由 -->
    <div class="gray-background" style="padding-bottom:40px;background: #F2F2F2"><div class="container">
        <h2 class="text-center extra-margin who">谁适合使用本系统？</h2>
        <div class="row motivation-list">
            <div class="col-md-4 col-sm-6 motivation-item">
                <div class="motivation-container box">
                    <h2><a href="#" style="text-decoration: none;color: inherit;">学生(Student)</a></h2>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="motivation-description ">学生可利用本系统实时记录并调整自己的知识图谱,使抽象
                                                                  的概念和内容以图的形式展现，更加清晰</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 motivation-item">
                <div class="motivation-container box">
                    <h2><a href="#" style="text-decoration: none;color: inherit;">老师(Teacher)</a></h2>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="motivation-description">教师可构建标准的知识图谱，并实时分享给自己的学生，供学
                                                                   生参考，还可在线讨论，使之更完善.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 motivation-item">
                <div class="motivation-container box">
                    <h2><a href="#" style="text-decoration: none;color: inherit;">工程师(Engineer)</a></h2>
                    <div class="row"><div class="col-xs-12">
                        <p class="motivation-description">工程师在平时的工作中经常会遇到比较抽象的概念和知识体系，可利
                                                        用知识图谱将之形象化，有助于工作效率的提升
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="clearfix"></div>
    </div>

<div class="gray-background" style="padding-bottom:40px;background: #FFF;font-family:'方正舒体';"><div class="container">
        <h2 class="text-center extra-margin who">为什么选择本系统？</h2>
    </div>
    
    
    
    <div class="row btn_t" style="margin-left: 30px;">
        <div class="col-md-6 text"><div class="wrap"><span class="glyphicon glyphicon-send"></span>
        <h2>可视化</h2><h3></h3>
        </div>
        <div class="txt">
        <p>知识图谱采取可视化的方式，将抽象的逻辑和概念形象化</p>
        <p>形象的将之展现出来，帮助使用者建立清晰的知识体系结构</p>
        </div>
        </div>
        <div class="col-md-6 text"><div class="wrap"> <span class="glyphicon glyphicon-star-empty"></span>
        <h2>高效</h2><h3></h3>
        </div>
            <div class="txt">
            <p>实时的建立并调整知识图谱</p>
            <p>用户可随时随地查看,修改自己的知识图谱</p>
            </div>
        </div>
    </div>
    
    
    
    <div class="row btn_t" style="margin-left: 30px;padding-bottom: 20px;background: #FFF;">
        <div class="col-md-6 text"><div class="wrap"><span class="glyphicon glyphicon-tags"></span>
        <h2>简洁</h2><h3></h3>
        </div>
            <div class="txt">
            <p>本系统采用简洁的页面，让使用者能够方便清晰的查看自己的知识图谱</p>
            <p>同时简化操作流程,可随时调整节点间的从属关系和位置</p>
            </div>
        </div>
        <div class="col-md-6 text"><div class="wrap"><span class="glyphicon glyphicon-transfer"></span>
        <h2>在线讨论</h2><h3></h3>
        </div>
            <div class="txt">
            <p>根据不同的知识图谱，可在线进行讨论</p>
            <p>更好的收集相关图谱的意见，以聊天的形式不断的补充和完善相关知识图谱</p>
            </div>
        </div>
    </div>
    
    
    
    <div class="row">
        <center><button onclick="window.location.href='register.do'" 
        class="signup-btn btn btn-primary btn-block btn-lg btn-signin" data-track-category="landing" 
        data-track-action="test-now-landing-top" style="font-family:'';">Try now</button></center>
    </div>
</div>
    <div class="row foot" >
        <div class="col-md-4 col-sm-6 motivation-item">
            <p style="font-size: 24px"><b><a style="color:#D5362A;text-decoration: none;
            ">毛</a>线头 </b></p>
            <p class="links" style="font-size: 15px;padding-top: 30px;"> 首页 · 资源 · 知识图谱 · 注册 · 登录 </p>
            <p class="company-name" style="padding-top: 30px;">Mind Graph China(haftungsbeschr?nkt) ?2018</p>

        </div>
        <div class="col-md-4 col-sm-6 motivation-item">
            <p style="font-size: 24px"><a style="color:#D5362A;text-decoration: none;">关于</a>我们:</p><p>&nbsp;</p>
            <p class="links" style="font-size: 15px">可视化学习数据管理系统是一个以知识图谱为主的在线学习系统,用<p>&nbsp;</p>户可根据自己的需求绘制个性化的知识图谱，构建清<p>&nbsp;</p>晰的知识体系.</p>
        </div>
        <div class="col-md-4 col-sm-6 motivation-item">
            <p style="font-size: 24px"><a style="color:#D5362A;text-decoration: none;">联系</a>我们:</p><p>&nbsp;</p>
            <p class="links" style="font-size: 15px">河北省-张家口市-河北北方学院-B505</p>
            <p style="font-size: 24px;padding-top: 30px;"><a style="color:#D5362A;text-decoration: none;">联系</a>邮箱:</p><p>&nbsp;</p>
            <p class="links" style="font-size: 15px">961946407@qq.com</p>
        </div>
    </div>
</div>
</div>
</body>
</html>