<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="renderer" content="webkit">
<title>知识图谱</title>

<link type="text/css" rel="stylesheet" href="/mindmap/jsmind.css">
<link rel="stylesheet" type="text/css" href="/mindmap/easyui.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/999/zeroModal.css" >

<link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
<link rel="stylesheet" href="/ifont/css/font-awesome.min.css" />
<link rel="stylesheet" href="/mindmap/ace.min.css" />
<link rel="stylesheet" type="text/css" href="/mindmap/style.css" />
<link rel="stylesheet" type="text/css" href="/mindmap/noJS.css" />
<link rel="stylesheet" type="text/css" href="/css/index/mindMap.css" />
<link rel="stylesheet" href="/css/index/style.css">
</head>

	<!-- js文件加载和css head里主要是用来响应调用  body里用来渲染界面 -->
 	<script src="/js/jquery-1.7.2.min.js" type="text/javascript"></script>
	<script src="/mindmap/jquery.easyui.min.js" type="text/javascript"></script>
	<script src="/mindmap/jsmind.js" type="text/javascript"></script>
	<script src="/mindmap/jsmind.draggable.js" type="text/javascript"></script>
	<script type="text/javascript" src="/mindmap/jsmind.screenshot.js"></script>
	<script type="text/javascript" src="/999/zeroModal.min.js"></script>

	
	<style type="text/css">
		#jsmind_container {
			float: left;
			width: 100%;
			height: 600px;
			/* border: solid 0px #ccc; */
			/* background: rgba(0,0,0,0); */
			}
			
		#tp{
		    background: rgba(244, 242, 240, 0.48) !important;  /* 固定导航栏样式 */
		   }
		.main-container:after,.top{
		   background: -webkit-linear-gradient(left, rgba(218, 189, 211, 0.72), #DAB69D, #B4CCC2, #91CCB6);
		   background: -o-linear-gradient(left, rgba(218, 189, 211, 0.72), #DAB69D, #B4CCC2, #91CCB6);
		   background: -moz-linear-gradient(left, rgba(218, 189, 211, 0.72), #DAB69D, #B4CCC2, #91CCB6);
		   background: -ms-linear-gradient(left, rgba(218, 189, 211, 0.72), #DAB69D, #B4CCC2, #91CCB6);
		}   
		
		.table-hover > tbody > tr:hover {
           background-color: rgba(255, 255, 255, 0.23);
          }
          
		li[class*="item-"] {
		      border: 0px solid #DDDddd00; 
		      border-left-width: 0px;  
		}
		.calendar-title {
		    text-align: center;
		    height: 28px; 
		    text-align: left;
		}
		.calendar {
		    border-width: 1px;
		    border-style: solid;
		    padding: 3px 9px;
		    overflow: hidden;
		}
    </style>
    
		
	<!-- 一系列对思维导图的操作函数 -->
	<script type="text/javascript">
		var jm = null;
		
		<!-- 打开思维导图的框 -->
		function open_empty() {
			var options = {
				container : 'jsmind_container',
				theme : 'greensea',
				editable : true
			}
			jm = jsMind.show(options);
		}
		
		<!-- 针对切换为思维导图界面所做的函数 -->
	    function clear() {
		   $("#jsmind_container").html("");
		   open_empty();
	    }
		
		
		/* 获取分享过的思维导图 */ //存在一个很大的弊端就是分享后其它用户也可操纵它，不为只读状态,右键菜单的锅
		function open_ajax(mapid,name) {
		clearShare();
		document.getElementById('nodeid').value = mapid;
		$('#mapid').attr("value",mapid);
		var da={"nodeid":mapid,
				"userid":name
				};
		
		$.ajax({
			type : "POST",
			url : "/mindMap/openShareMap",  //打开具体的思维导图
			data : da,
			success : function(data) {
				var json = $.parseJSON(data);
				document.getElementById('rootid').value = json.kcmc;
				if (json.state == 1) {
					datas=eval('(' + json.datas + ')'); 
			        jm.show(datas);
			        traverse(datas.data);
			        expand_to_level2();  //调整为显示主节点后的三层  
			    	
				}else if(json.a=="2"){
					$.messager.alert("操作提示", "请登录后再操作！", "info");
				}else{
					$.messager.alert("操作提示", "找不到对应的知识图谱！", "info");
				}
			},
		});
		}
		
		
		/* 点击打开具体的思维导图(这里的kcmc是nodeid) */
		function open_ajax2(kcmc) {
			clear();
		    document.getElementById('nodeid').value=kcmc;
			$('#mapid').attr("value",1);
			var da={"nodeId":kcmc};
			    $.ajax({
					type : "POST",
					url : "/mindMap/openMyMap", //获取属于自己的某个思维导图
					data : da,
					success : function(data) {
						document.getElementById('rootid').value = data.kcmc;  //记录根节点
						
						if (data.state == 1) {
							datas=eval('(' + data.datas + ')');
					        jm.show(datas);
					        traverse(datas.data); //覆盖加载节点颜色
					        expand_to_level2();  //调整为显示主节点后的三层
					       
						} else{
							$.messager.alert("操作提示", "暂时没有可查看的知识图谱", "info");
						}
					},
				});
			}

            <!-- 列表操作专用 -->
			<!-- 分享思维导图按钮(列表中操作) -->
			function sharemindmapButton(rootid, isShare){
		    	
				var da={"rootId":rootid,
						"isShare": isShare};
				var data=JSON.stringify(da);
				$.ajax({
					type : "POST",
					url : "/mindMap/shareMap",
					contentType:"application/json",
					data : data,
					success : function(data) {
						var json = $.parseJSON(data);
						if (json.a == "1") {
							$.messager.alert("操作提示", "分享成功！", "info");
						}else if(json.a=="3"){
							$.messager.alert("操作失败","已分享过该知识图谱","info");
						}else if(json.a=="5"){
							$.messager.alert("操作提示", "不是您的知识图谱", "info");
						} else{
							$.messager.alert("操作提示", "请选择知识图谱！", "info");
						}
					},
				});
				
			}		
			
			<!-- 列表中删除整个思维导图(之后要改成变为当前页数)  -->
			function deleteNodeByBatchButton(nodeid,currentPage){
				
		        var adata= {"nodeid":nodeid,
		        		    "rootid":nodeid
		                 };
		        
		        var data=JSON.stringify(adata);
		        
				$.ajax({
					type : "POST",
					url : "/mindMap/delMapNode",
					contentType:"application/json",
					dataType:"json",
					data : data,
					success : function(data) {
						freshenMyMindMap(currentPage);
					}
				});
						
			}
			
			
			<!-- 列表中删除分享过的思维导图（在分享思维导图中） -->
			   function delteShareMindMap(nodeid,deleteUser,currentPage){
			 	  
			 	  var adata={"nodeid":nodeid,
			 			     "deleteUser":deleteUser
			 	            };
			 	  var data=JSON.stringify(adata);
			 	  
			 	  $.ajax({
			 		  type:"POST",
			 		  dataType:"json",
			 		  contentType:"application/json",
			 		  data:data,
			 		  url:"/mindMap/deleteShareMindMap",
			 		  
			 		  success:function(data){
			 			  if(data.a=="2"){
			 				  alert("请先登录");
			 			  }else if(data.a=="1"){
			 				  alert("删除成功");
			 				  freshenShareMindMap(currentPage);
			 			  }else if(data.a=="3"){
			 				  alert("不是您的思维导图");
			 			  }else{
			 				  alert("删除失败");
			 			  }
			 		  },
			 		  
			 		  error:function(e){
			 			  alert("连接网络失败");
			 		  },
			 		  
			 	  });
			 	  
			   }    

			<!-- 列表操作专用,以上  -->


        /* 打开思维导图的子节点 */
		function open_zijiedian() {
		    
			var selected_id = get_selected_nodeid();
			var da={"nodeId":selected_id,
					"rootId":getRootId()
					};
			var data=JSON.stringify(da);
			$.ajax({
				type : "POST",
				contentType:"application/json",
				dataType:"json",
				url : "/mindMap/getMapChild",
				data : data,
				success : function(data) {
					if (data.a=="2"){
						$.messager.alert("操作提示", "您没有登陆！", "info");
					}
					else if (data.state == 1) {
						datas=eval('(' + data.datas + ')');
						jm.show(datas);
						traverse(datas.data);
					}else {
						$.messager.alert("操作提示", "找不到对应的知识图谱！", "info");
					}
				},
			});
			}
	
	
	        
        /* 根据某个id获取整个mindNode树(根据部分显示整个思维导图) */
		function open_mindnode2() {
		
			var da={"rootId":getRootId()};
			    $.ajax({
					type : "POST",
					url : "/mindMap/getCompleteMap",   //根据某个id获取整个mindNode树
					data : da,
					success : function(data) {
						if (data.a=="2"){
							$.messager.alert("操作提示", "您没有登陆！", "info");
						}
						else 
						if (data.state == 1) {
							datas=eval('(' + data.datas + ')');
					        jm.show(datas);
					        traverse(datas.data);
						}else {
							$.messager.alert("操作提示", "找不到对应的知识图谱！", "info");
						}
					}
				});
			}
 
  
  
        /**用来打开思维导图中的文件 */
		function fileChange() {
			open_file();
		}

        
         /**新建思维导图 出来一个固定的新建思维导图*/
		function xinjian() {
        	clear();
        	
        	$.messager.prompt('新建图谱', '请输入知识图谱名称', function(r) {
				if (r) {
					jm.enable_edit();
				    
					var da = {"nodeName":r};
					
					$.ajax({
						type : "POST",
						data : da,
						url : "/mindMap/newNewMind",
						
						success : function(data) {

							if(data.state == "1") {
								datas = eval('(' + data.datas + ')');
								document.getElementById('nodeid').value = datas.data.id;
								document.getElementById('rootid').value = data.kcmc;
								jm.show(datas);
							}else if(data.a == "2"){
								$.messager.alert("操作提示", "您还没有登陆！", "info");
							}else {
								$.messager.alert("操作提示", "找不到对应的知识图谱！", "info");
							}
						}
					});
					
				}
        	});	
        	
				
		}
		
        
        /* 新建???一个一个试 */
		function xinjian2() {
			var mind_url = '/mindMap/newMindMap';
			jsMind.util.ajax.get(mind_url, function(mind) {
				$('#mapid').attr("value", mind.mapid);
                datas=eval('(' + mind.datas + ')');
				jm.show(datas);
			});
		}
		

        /* 下载图片 */
		function screen_shot() { //下载图片
			jm.shoot();
		}
        
        
        /* 显示数据 */
		function show_data() {
			var mind_data = jm.get_data();
			var mind_string = jsMind.util.json.json2string(mind_data);
			return mind_string;
			//prompt_info(mind_string);
		}
        
        
        
        //重新给mapid赋值；
        function mapid(mapid){
        $('#mapid').attr("value", mapid);
        }
        
        
        /* （生成文件）保存jm文件 */
		function save_file() {
			var mind_data = jm.get_data();
			var mind_name = mind_data.meta.name;
			var mind_str = jsMind.util.json.json2string(mind_data);
			jsMind.util.file.save(mind_str, 'text/jsmind', mind_name + '.jm');
		}

		
		/* 用来打开思维导图文件 */
		function open_file() {
			var file_input = document.getElementById('file_input');
			var files = file_input.files;
			if (files.length > 0) {
				var file_data = files[0];
				jsMind.util.file.read(file_data, function(jsmind_data,
						jsmind_name) {
					var mind = jsMind.util.json.string2json(jsmind_data);
					if (!!mind) {
						jm.show(mind);
					} else {
						prompt_info('can not open this file as mindmap');
					}
				});
			} else {
				prompt_info('please choose a file first');
			}
		}
		
		
		
		<!-- 获得选中节点的nodeid -->
		function get_selected_nodeid() {
			var selected_node = jm.get_selected_node();
			if (!!selected_node) {   //两个叹号是为了将之数据类型转换为布朗型的
				return selected_node.id;
			} else {
				return null;
			}
		}
		
		
		<!-- 获得选中的子节点  -->
		function get_selected_node(){
			var select_node=jm.get_selected_node();
			if(!!select_node){
				return selected_node;
			}else{
				return null;
			}
		}
		
		<!-- 获得选中节点的nodename -->
		function get_selected_nodeName(){
			var selected_node = jm.get_selected_node();
			if (!!selected_node) {   //两个叹号是为了将之数据类型转换为布朗型的
				return selected_node.topic;
			} else {
				return null;
			}
		}
		
		<!-- 判断选中的节点是否为根节点 -->
		function selected_ifRoot(){
			var selected_node = jm.get_selected_node();
			if (!!selected_node) {   //两个叹号是为了将之数据类型转换为布朗型的
				return selected_node.isroot;
			} else {
				return null;
			}
		}
		
		<!-- 获取当前知识图谱的根节点 -->
		function getRootId(){
			var rootid = null;
			rootid = document.getElementById('rootid').value;
			
			if(rootid == "undenfined" || rootid == "" || rootid == null ){
				return false;
			} else {
				return rootid;
			}
			
		}
		
		<!-- 获取当前用户id -->
		function getCurrentUser(){
			var currentUserUser = null;
			currentUserUser = sessionStorage.getItem("username");
            
			if(currentUserUser == "undenfined" || currentUserUser == "" || currentUserUser == null ){
				return false;
			} else {
				return currentUserUser;
			}
			
		}
		
		
		
		/* 扩张??? */
		function expand_all() {
			jm.expand_all();
		}

		
		/* 跳到第二级 */
		function expand_to_level2() {
			jm.expand_to_depth(1);
		}

		
		/*展开三级 */
		function expand_to_level3() {
			jm.expand_to_depth(3);
		}
		
		
		/*  */
		function open_jm(){
		return jm;
	    }
		
		
		<!-- 修改节点信息（现已增加默认聚焦和默认加载节点名称） -->
		function modify_node() {
		
			var selected_id = get_selected_nodeid();
			var selected_name=get_selected_nodeName();
			var rootid = getRootId();
			
			$.messager.prompt('编辑标签', '请输入新的标签名', function(options) {
				var r = loap(options);
				if (r) {
					jm.enable_edit();
		         
					var da = {
						"nodeId" : selected_id,
						"nodeName" : r	,
						"rootId" : rootid
				             };
			       
					$.ajax({
						type : "POST",
						url : "/mindMap/updateMapNode",
						data : da,
						success : function(data) {

							if(data.a=="2"){
								$.messager.alert("操作提示", "您没有登陆！", "error");
							}else
							if (data.a == "1") {
								jm.update_node(selected_id, r);
							} else {
								$.messager.alert("操作提示", "操作失败！", "error");
							}
						}
					});
				}
			},""+selected_name+"");
		}
		
		
		<!-- 批量删除节点  -->
		function deleteNodeByBatch(){
			$.messager.defaults = {
					ok : "是",
					cancel : "否"
				};
			$.messager.confirm("操作提示", "您确定要执行操作吗？", function(r) {
				if (r) {
					jm.enable_edit();
					var selected_node = jm.get_selected_node();
		            var selected_id = get_selected_nodeid();
		            var rootid = getRootId();
		           
		            jm.remove_node(selected_node);
			        var adata= {"nodeId":selected_id,
			        		    "rootId":rootid
					         };
			        var data=JSON.stringify(adata);
					$.ajax({
						type : "POST",
						url : "/mindMap/delMapNode",
						contentType:"application/json",
						dataType:"json",
						data : data,
						success : function(data) {
							if(data.a == "1"){
								if(selected_ifRoot()){
									freshenMyMindMap(1);
								}
							} else if(data.a == "5"){
								$.messager.alert("操作提示", "不是您的图谱！", "error");
							} else {
								$.messager.alert("操作提示", "操作失败！", "error");
							}
						}
					});
					
				} else {
					alert("否");
				}
			});
			
			
		}
		
		
		/* 右键菜单，粘贴子标签方法*/
		function paste_node(){

			
			Date.prototype.Format = function (fmt) { // author: meizz
                var o = {
                "M+": this.getMonth() + 1, // 月份
                "d+": this.getDate(), // 日
                "h+": this.getHours(), // 小时
                "m+": this.getMinutes(), // 分
                "s+": this.getSeconds(), // 秒
                "q+": Math.floor((this.getMonth() + 3) / 3), // 季度
                "S": this.getMilliseconds() // 毫秒
                     };
                if (/(y+)/.test(fmt))
                fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
                for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                 return fmt;
				}
				
			var v= document.getElementsByClassName("oInput"); //获取复制时 oInput 元素 返回类型是数组
			var rootid=getRootId(); //获取根节点id
			var time=new Date().Format("yyyyMMddhhmmss");
            var copyValue=copyinfo;  //获取OInput中的 value值
            var selected_id = get_selected_nodeid();
            var data={
            		"rootid":rootid,
            		"nodedate" :time,
            		"parentid":selected_id,      //原来节点的nodeid，这样才可以串起来
            		"MindNodeToollist":copyValue
            };
            console.log(copyValue);
            $.ajax({
				type: "post",
				url: "/mindMap/paste_node",
				data : JSON.stringify(data),
				contentType:"application/json",
				dataType:"json",
				async:false, 
				success : function(json) {
					//将传来的数据放入剪切板
				   var qwe=json;
					console.log(qwe);
				},
			});

			var dd= document.getElementById(".oInput").val();
			alert("dd是:"+dd);

		}
		

        <!-- 这个注释还是比绿色的好看..... -->
        <!--  新增子标签,增加之后保存-->
        /* 右边菜单要调用的方法??? */
		function add_node2() {
		
			$.messager.defaults = {
					ok : "是",
					cancel : "否"
				   };
			
			$.messager.prompt('新增子级标签', '请输入标签名', function(options) {
				var r = loap(options); //获取输入框内容
				if (r) {
					//生成随机数，避免新建时，产生相同的id，会影响建立子节点，这里随机生成的数，只有这个作用，
					//也不会传到后台，不影响节点后续的展示！！！
					var nodeid = Math.floor(Math.random() * 10000 + 1);
					var rootId = getRootId();
					console.log("rootId是："+rootId);
					var topic = r;
					jm.enable_edit();
					//扩展方法， right 将子节点增加到右侧， left 将子节点增加到左侧，默认右侧
					var node = jm.add_node(jm.get_selected_node(), nodeid,
							topic, null, "right");

					var selected_id = get_selected_nodeid();
                        var da = {
						"nodeName" : topic,
						"parentId":selected_id,      //原来节点的nodeid，这样才可以串起来
						"rootId" : rootId  //根节点
					};
                           
					$.ajax({
						type : "POST",
						url : "/mindMap/saveMapNode",
						data : da,
						
						success : function(json) {
							
							if (json.a == "1") {
								$('#mapid').attr("value", json.mapid);
							} else if(json.a=="2"){
								$.messager.alert("操作提示", "操作失败！", "error");
							} else if(json.a=="5"){
								$.messager.alert("操作提示", "不是您的知识图谱！", "error");
							}
							
						},
					});
				}
			});
		}
        
		
		
		/*暂时不清楚表达的意思  */
		function right() {
			var e = window.event;
			if (e.button == "2") {
				console.debug("右键");//输出调试信息
			}
		}
		
		
		/* 设置主题 */
		function set_theme(theme_name) {

			jm.set_theme(theme_name);
		}
		
		
		/* 将选到节点的可读信息输出 */
		function show_selected() {
			var selected_node = jm.get_selected_node();
			if (!!selected_node) {
				return selected_node.data.isreadonly;
			} else {
				console.debug("nothing");
			}
		}

		
		/* 节点显示开关??? */
		function toggle_node() {
			var selected_id = get_selected_nodeid();
			if (!selected_id) {
				alert('请先选择一个节点');
			}

			jm.toggle_node(selected_id);
		}

		
		

		open_empty();//加载JSMind
		
		
		/* 节点右键菜单? */
		$("jmnode").live('contextmenu', function(e) {
			e.preventDefault();
			$('#mm').menu('show', { //菜单EasyUI
				left : e.pageX,
				top : e.pageY,
				hideOnUnhover : false
			});
		});

		
		/* 根据点击获取子节点的type，显示不同的菜单  */
		$("jmnode").live('click', function(e) {
				       
		 var a = "/mindMap/summer";
			_iframe(a);
		});
		
		
		
		//保存思维导图
		function save() {
		    var mapid=$("#mapid").val();
			var mind_data = jm.get_data();

			var mind_string = jsMind.util.json.json2string(mind_data);
			var name = "";
			$.messager.prompt('保存知识图谱', '请输入知识图谱名称', function(r) {
				if (r) {
            		name = r;
					var da = {
						"mapid" : $("#mapid").val(),
						"jsondata" : mind_string,
						"name" : name
					     };
					$.ajax({
						type : "POST",
						url : "/mindMap/saveMindMap",
						data : da,
						success : function(json) {
							if (json.state == 0) {
								$.messager.alert("操作提示", "保存成功！", "info");
								$('#mapid').attr("value", json.mapid);
							} else {
								$.messager.alert("操作提示", "操作失败！", "error");
							}
						}
					});
				}
			});

		}
	</script>

			
	<!-- 获取自己的思维导图 -->		
	<script type="text/javascript">
	
	function getMyMindMap(){
		
		var html="";
		var data={
				   "pageSize":"12",
			       "pageNum":"1"
		          };

		$.ajax({
			type:"post",
			contentType:"application/json",
			data:JSON.stringify(data),
			url:"/mindMap/getMyMap",
			
			success:function(data){
				
				if(data.code != 200){
					alert("您还尚未创建自己的知识图谱！");
				}else{
					var mapList = data.data.list;
					console.log(mapList);
					html+="<table class='table table-hover'>";
					html+="<thead><tr><th>图谱名称</th><th>用户</th><th>知识图谱</th><th>查看评论</th><th>分享</th><th>删除</th></tr></thead>";
					html+="<tbody>";
					for(var i = 0; i < mapList.length; i++){
							console.log(mapList[i].rootName);
						    html+="<tr><td>"+mapList[i].rootName+"</td>";
						    html+="<td>"+mapList[i].userName+"</td>";
						    html+="<td><span class='link-style' onclick='open_ajax2("+mapList[i].mapId+");'>"+"查看导图"+"</span></td>";
							html+="<td><span class='link-style' onclick='open_ajax2("+mapList[i].mapId+");'>"+"查看评论"+"</span></td>";
							if(+mapList[i].isShare == 0){
								html+="<td><span class='link-style' onclick='sharemindmapButton("+mapList[i].mapId+",1)'>"+"未分享"+"</span></td>";
							} else {
								html+="<td><span class='link-style' onclick='sharemindmapButton("+mapList[i].mapId+",0)'>"+"已分享"+"</span></td>";
							}
						    html+="<td><span class='link-style' onclick='deleteNodeByBatchButton("+mapList[i].mapId+")'>"+"删除"+"</span></td>";
						    html+="</tr>"; 
					}
					
					html+="</tbody></table>";
					$("#jsmind_container").html(html);

				}
				
			},
			
			error:function(e){
				alert("连接网络失败");
			}
			
		});
		
	}
	
	</script>
	
	<!-- 解决输入特殊字符的问题（标签转换传送门） -->
	<script type="text/javascript">
	   
	  function loap(pee){
		  var str = pee;
		  var str1 = str.replace(/\&/g,"&#38;");
		  var str2 = str1.replace(/\>/g,"&#62;");
		  var str3 = str2.replace(/\</g,"&#60;");	
		  var str4 = str3.replace(/\"/g,'&#34;');
		  var str5 = str4.replace(/\'/g,"&#39;"); 
		  return str5;
	  }
	
	</script>
	
	
	<!-- 动态在小窗口中显示文件的方法-->
    <script type="text/javascript">
      
	  function _iframe(a) {
	  	  
	     zeroModal.show({
            title: '详细描述',
            iframe: true,
            url: a,
            width: '80%',
            height: '80%',
            cancel: false,               //允许关闭
            resize: true,                //允许移动
            max: true,                   //允许最大化
            min: true,                   //允许最小化
            dragHandle: 'container',     //点击任意地方框拖动(旺仔摇滚冻即视感)
            opacity: 0.8,                //设置遮罩透明度
            overlayClose: false          //点击遮罩层关闭窗口
	            
	       });
	  }
	  
	  //关闭模态框，将节点传入redis并设置为空
	  $(document).on('click', '.zeromodal-close', function(e){
	  	//注释部分是微信上传图片功能的
	  	/*var nodeid="null";
	  	var data={"nodeid":nodeid};
			
		console.log(" nodeid是："+nodeid);
	       $.ajax({
				type:"get",
				url:"set.do?nodeid="+nodeid,
			}); */

	  });
	  
    </script>
    
    
    <!-- 更改单个节点颜色  -->
    <script type="text/javascript">
    
        //右键菜单设置单个节点的颜色
		function set_color(color){
			var sel=$("jmnode.selected").attr("nodeid");
			var color1=shiftcolor(color);
			var data={
					"nodeId":sel,
					"color":color1,
					"rootId":getRootId()
			}
			var da=JSON.stringify(data);
			
			$.ajax({
				type:"POST",
				url:"/mindMap/setMapColor",
				dataType:"json",
				contentType:"application/json",
				data:da,
				
				success:function(data){
					
					if(data.a == "2"){
						alert("更改失败");
					} else if(data.a == "3"){
						alert("不是您的知识图谱");
					} else if(data.a =="1") {
						jm.set_node_color(sel, color1);
					}
				}
				
			});
		}
        
        
        //颜色转换
        function shiftcolor(color){
			switch(color){
			case "浅紫":
				color="#CD96CD";
				break;
			case "郁金色":
				color="#fdb933";
				break;
			case "抹茶":
				color="#6BB073";
				break;
			case "咖色":
				color="#BF7F50";
				break;
			case "玫瑰红":
				color="#FF0000";
				break;
			case "原色":
				color="#1abc9c";
				break;
			case "圣诞红":
				color="#BF0A10";
				break;
			case "深紫":
				color="#9b59b6";
				break;
			case "藏青":
				color="#34495e";
				break;
			case "要什么颜色":
				color="#733C80";
				break;
			case "天蓝":
				color="#426ab3";
				break;
			case "砖红":
				color="#e74c3c";
				break;
			case "碳灰":
				color="#404040";
				break;
			case "亮粉":
				color="#ff3399";
				break;
			case "凑数色":
				color="#8B1A1A";
				break;	
			}
			return color;
		}
        
        
        //编辑单个节点的颜色
        function changecolor(id,color){
			jm.set_node_color(id,color);
		}
        
        
        //遍历一个图谱的所有节点（加载图谱时调用）
		function traverse(json){
			if(!json){
				return ;
			}
			
			var color=shiftcolor(json.color);
			changecolor(json.id,color);
			if(json.children&&json.children.length>0){
				for(var i=0;i<json.children.length;i++){
					this.traverse(json.children[i]);
				}
			}
		}
    
    
    </script>
			
	<!-- 打开文件-->
	<script type="text/javascript">
	function BrowseFolder(){
		
         $("#file_input").click();
            
       }
	</script>
	
	 <style>
        *{
           padding: 0;
           margin: 0;
         }
        ul,ol{margin: 0; list-style: none; padding: 0;}
        a{ text-decoration: none; }
        *{ margin: 0; padding: 0; }
        body{
            height: 580px;
      
      
      /*侧边栏 讨论  */
        }

		.app {
			height: 100%;
			min-height: 500px;
			width: 354px;
			float: right;
			background: #eeeeee87;
			/* position: fixed; */
			right: 0px;
			top: 50px;
			z-index: 10;
		}

		.leftbtn{
			width: 32px;
			height: 60px;
			margin: 0 auto;
			padding-top: 15px;
			position: relative;
			background: #ef6819;
			color: white;
			font-size: 11px;
			letter-spacing: 0.2em;
			text-align: center;
			text-transform: uppercase;

			z-index: 5;
			position: fixed;
			top: 48%;
			right: 354px;
			cursor: pointer;
		}
		.leftbtn:after {
			content: ' ';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 0;
			height: 0;
			border-bottom: 21px solid #c7fae7c7;
			border-left: 16px solid transparent;
			border-right: 16px solid transparent;
		}
       
        .rightbtn{
			width: 32px;
			height: 60px;
			margin: 0 auto;
			padding-top: 15px;
			position: relative;
			background: #ef6819;
			color: white;
			font-size: 11px;
			letter-spacing: 0.2em;
			text-align: center;
			text-transform: uppercase;

			z-index: 5;
			position: fixed;
			top: 48%;
			right: 0;
			cursor: pointer;
		}
		.rightbtn:after {
			content: ' ';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 0;
			height: 0;
			border-bottom: 21px solid #c7fae7c7;
			border-left: 16px solid transparent;
			border-right: 16px solid transparent;
		}
       
        .none{
            display: none;
        }

		 #message{

		 }

		 .comment{
			 width: 400px;
			 position: relative;
			 left: 10px;
			 overflow: auto;
		 }
		.commentHr{
			margin-top: 2px;
			margin-bottom: 2px;
			border: 0;
			border-top: 1px solid #ffba89;
		}
        .commentMSG{
			font-size: 12px;
			color:black;
		}
		 .commentUser{
			 font-size: 12px;
			 font-weight: 900;
			 color:#0b6cbc;
		 }
        </style>
    
   <!--讨论里面的样式  -->
    <style>
        #text123{
        border-radius: 5px 0px 0px 5px !important;
        }
       .mess{
        display: inline-block;
	    position: relative;
	    padding: 0 10px;
	    max-width: calc(100% - 40px);
	    min-height: 30px;
	    line-height: 2.5;
	    font-size: 9pt;
	    text-align: left;
	    word-break: break-all;
	    background-color: #b2e281;
	    border-radius: 4px;
      }
       
      .time{
        display: inline-block;
	    padding: 0 18px;
	    font-size: 11pt;
	    color: #fff;
	    border-radius: 2px;
	    background-color: #dcdcdc;     /* 设置时间样式  */
      }
      
      #hh{
        text-align: center;
      }
      
    .dir{
        text-align:left;
      } 
      
      .message{width: 100px;}
    </style>
     

     
   
<body>
     <!-- 页面头部 -->
	<div class="main-container">
	</div>
	
	<!-- 侧导航栏 -->
	<div class="l_nav">
		<ul>
		<li onclick="xinjian();" title="新建" ><i class="icon-edit hovli bigger-120"></i></li>
		<li onclick="BrowseFolder();" title="打开文件"><i class="icon-folder-open hovli bigger-120"></i></li>
		<input type="file" id="file_input" onchange="open_file();" style="display:none;"  accept=".jm">
		<li onclick="save_file();" title="生成文件"><i class="icon-folder-close hovli bigger-120"></i></li>
		<li onclick="screen_shot();" title="生成图片"><i class="icon-camera hovli bigger-120"></i></li>
		<li onclick="getMyMindMap(1);" title="我的知识图谱"><i class="icon-list hovli bigger-120"></i></li>
		</ul>
	</div>	

	    <!-- 下面这个是调整显示思维导图框的大小，位置  -->
		<div id="dropzone"><br>
		<div id="jsmind_container" style="width:95%;margin-left:55px;height:600px;">
		
		</div>
	    </div>
	    
	    
	    

	    <!-- 初次页面加载时显示的东西，以上  -->


        <!-- 标签的右击菜单 -->
	    <div id="mm" class="easyui-menu" style="width: 120px;height:auth; z-index: 110018">
		<div data-options="iconCls:'icon-circle-arrow-right'" onClick="add_node2()" style="height:30px;padding:10px 0;">新建子标签</div>
		<div class="menu-sep"></div>
		<div data-options="iconCls:'icon-edit'" onClick="modify_node()" style="height:30px;padding:10px 0;" >修改标签名</div>
		<div class="menu-sep"></div>
		<div data-options="iconCls:'icon-remove'" onclick="deleteNodeByBatch()" style="height:30px;padding:10px 0;">删除该标签</div>
		<div class="menu-sep"></div>
		<div data-options="iconCls:'icon-lemon'" onclick="open_zijiedian()" style="height:30px;padding:10px 0;">显示子节点</div>
		<div class="menu-sep"></div>
		<div data-options="iconCls:'icon-puzzle-piece'" onclick="open_mindnode2()" style="height:30px;padding:10px 0 10px 0;">显示完整图</div>
		<div class="menu-sep"></div>
		<div data-options="iconCls:'icon-edit'" style="height:30px;padding:10px 0 10px 0;">
		<span>编辑节点颜色</span>
			<div style="width: 150px;">
				<div onclick="set_color(this.innerText);">玫瑰红</div>
				<div onclick="set_color(this.innerText);">咖色</div>
				<div onclick="set_color(this.innerText);">浅紫</div>
				<div onclick="set_color(this.innerText);">抹茶</div>
				<div onclick="set_color(this.innerText);">郁金色</div>
				<div onclick="set_color(this.innerText);">原色</div>
				<div onclick="set_color(this.innerText);">圣诞红</div>
				<div onclick="set_color(this.innerText);">天蓝</div>
				<div onclick="set_color(this.innerText);">深紫</div>
				<div onclick="set_color(this.innerText);">藏青</div>
				<div onclick="set_color(this.innerText);">要什么颜色</div>
				<div onclick="set_color(this.innerText);">凑数色</div>
				<div onclick="set_color(this.innerText);">砖红</div>
				<div onclick="set_color(this.innerText);">碳灰</div>
				<div onclick="set_color(this.innerText);">亮粉</div>
			</div>	
				
	    </div>
		<div class="menu-sep"></div>
	    </div>

	 <!--思维导图侧边栏，讨论界面  -->
	 <div id="app" class="none" style="position: fixed;">

		 <div class="none" id="btn" title="隐藏聊天界面">评论</div>

		 <!-- 聊天对话显示框 -->
		 <div id="message" style="height:620px;OVERFLOW:auto;"></div>
	 </div>
	 <div class="rightbtn" id="btn2" title="显示聊天界面">评论</div>

	 <script>


		 /*聊天的js操作*/
		 var oApp = document.getElementById('app');
		 var oBtn = document.getElementById('btn');//leftbtn
		 var oBtn2 = document.getElementById('btn2');//rightbtnS

		 oBtn.onclick=function(){
			 oApp.className="none";
			 oBtn2.className="rightbtn";

		 }
		 oBtn2.onclick=function(){
			 oApp.className="app";
			 oBtn2.className="none";
			 oBtn.className="leftbtn";
			 seeComment();
		 }

		 //查看评论的接口
		 function seeComment() {
		 	var html = "";
			 var rootId = parent.getRootId();
			 console.log("当前的思维导图id号是："+ rootId);
			 var da = {"rootId": rootId};
			 var data=JSON.stringify(da);
			 $.ajax({
				 type : "POST",
				 url : "/expandThinking/seeComment",
				 contentType:"application/json",
				 data : data,
				 success : function(data) {
					 if(data.length > 0){
						 $("#message").css({"height": "620px",
							 "font-size": "",
							 "width": "442px",
							 "color": "",
							 "display": "",
							 "vertical-align": "",
							 "text-align": ""});
						 for(var i = 0; i < data.length; i++){
							html+="<div class='comment'><ul class='commentUser'>"+data[i].userAccount+"：</ul><ul class='commentMSG'>"+data[i].mapRemark+"</ul></div><hr class='commentHr'>";
						 }
						 $("#message").html(html);
					 } else {
						 var divShow = $("#message");
						 divShow.text("");// 清空数据
					 	$("#message").css({"height": "620px",
						 "font-size": "30px",
						 "width": "442px",
						 "color": "#f5f5f5d4",
						 "display": "table-cell",
						 "vertical-align": "middle",
						 "text-align": "center"});


						 divShow.append("暂无评论");
					 }
				 },
			 });


		 }


		 $('#app').onclick=function(){
			 seeComment();
		 }


	 </script>




	 <input id="mapid" type="text" value="" hidden />
    <input id="nodeid" type="text" value="" hidden />
    <input id="rootid" type="text" value="" hidden />

</body>
</html>