<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/summernote/dist/summernote.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/biji/AliIcon.css">
<link rel="stylesheet" type="text/css" href="/css/biji/AliIcon2.css">
<link rel="stylesheet" href="/css/biji/biji.css" />
<link rel="stylesheet" href="/css/fileUpload/upload.css" />

<script type="text/javascript" src="/js/jquery.min2.1.4.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/summernote/dist/summernote.js"></script>
<script src="/summernote/dist/lang/summernote-zh-CN.js"></script>    <!-- 中文-->


<style>
.tags{
  width: 90%;
  background: #f5f5f5;
  margin: 0 auto;
}


</style>

</head>
<body onkeydown="Ctrl()">

	 <div class="form-group">
        <label for="" style=" width:95%; margin:auto; margin-left: 5%;">
        	<span style="float:left;margin:0,auto;margin-top: 5px;">知识点名称 </span>
        	<input type="email" class="form-control" id="zsdmc" onsubmit="return false;"  placeholder="知识点名称" style="width:85%;float:right;margin-right: 5%;">
        </label><br/> 
     </div>           <!-- zsdmc End!!! -->
     
     <form class="knowlegMap">
     
     <div class="tags">
       <ul class="nav nav-pills nav-justified" style="width:100%;">
	     <li role="presentation" id="zsdms">
	       <a onclick="getzsd()">知识点描述</a>
	     </li>
	     <li role="presentation" id="myFile">
	       <a onclick="getUpload()">我的文件</a>
	     </li>
	     <li role="presentation" id="UploadFile">
	       <a onclick='uploadShow()'>上传文件</a>
	     </li>
	     <li role="presentation" style="text-align:right;">
	       <button onclick='cut();' type='button' class="btn btn-primary btn-block" style="padding: 10px 15px">保存</button>
	     </li>
	 </ul>
	 </div>
	 
     <div style="width:90%; margin:0 auto;">
        <div  class="summernote" id="a_content"   name="a_content"></div>
     </div>
     </form>                  <!-- 显示加载模态框的界面 -->

 
 
   <!-- 初始界面加载 -->
   <script type="text/javascript">
	   $(function(){

		    getzsd();

	   });

   </script>
 
 
      <!-- 获取并显示知识点内容 -->
	  <script>
	
      $('#summernote').summernote({
    	  disableDragAndDrop: true
    	});
	  
	    <!-- 获取并显示知识点内容 -->
	    function getzsd(){
	    	
	    	
			  
	    	$('#a_content').summernote({
		          height: 375,
		          tabsize: 2,
		          minHeight: 375,
		          maxHeight: 900,
		          lang: 'zh-CN'
		      });            /* 加载模态框配置 */
		      
		      
		      
			  var html="";
			  var button = "";
			  var nodeid=parent.get_selected_nodeid();
			  var nodeName=parent.get_selected_nodeName();
			  var rootid = parent.getRootId();
			  var adata={"nodeId":nodeid,
					     "rootId":rootid
					    };
			  var data=JSON.stringify(adata);
			  $("li").removeClass("active");
			  $("#zsdms").addClass("active");
			  
			     $.ajax({
			    	 type:"POST",
			    	 contentType:"application/json",
			    	 dataType:"json",
			    	 data:data,
			    	 url:"/mindMap/getMapZsd",
			    	 
			    	 success:function(data){
			    		 
			    		 if(data.map.zsdmc == undefined || data.map.zsdmc == null ||  data.map.zsdmc == ""){
			    			 $("#zsdmc").attr("placeholder",nodeName);
			    		 } else{
			    			 $("#zsdmc").attr("value",data.map.zsdmc);
			    		 }
			    		 
				 		 if(data.map.zsdms == undefined){
				 			html = "请添加知识描述";
				 			$('.summernote').summernote('code',html);
				 			
				 		 } else{
							 html = data.map.zsdms;
				 			$('.summernote').summernote('code',html);
				 		 }
				 		 
				 		 document.getElementById('store').value = html; 
				 		 
			    	 },
			    	 
			    	 error:function(e){
			    		 alert("连接显示知识点失败");
			    	 },
			    	 
			     });
			  
		   }
	    
	      <!-- 保存节点上的知识点  -->
		  function savezsd(){
			  var nodeid=parent.get_selected_nodeid();
			  var rootid = parent.getRootId();
			  var adata={"nodeId":nodeid,
						 "rootId":rootid,
				         "zsdms":$('#a_content').summernote('code')
				        };
			 
			  var data=JSON.stringify(adata);
			  
			  $.ajax({
		    	  type:"POST",
		    	  contentType:"application/json",
		    	  dataType:"json",
		    	  data:data,
		    	  url:"/mindMap/saveMapZsd",
		    	  
		    	  success:function(data){
		    		  if(data.a=="1"){
		    			  alert("修改知识点知识成功");
		    			  window.location.reload("biji.html");
		    		  }else if(data.a=="2"){
		    			  alert("修改知识点知识失败");
		    			  window.location.reload("biji.html");
		    		  } else if(data.a=="3"){
		    			  alert("不是您的知识图谱");
		    			  window.location.reload("biji.html");
		    		  }
		    		  
		    	  },
		  
		    	  error:function(r){
		    		  alert("连接失败");
		    	  }, 
		  
		      });  
			  
		  }	    
		 
	      //确保切换时，知识点描述会保存
		  function cut(){
			  
			  if($("#zsdms").attr("class") == "active"){
				  var zsdBefore = document.getElementById('store').value;
				  var zsdNow = $('#a_content').summernote('code');
				  
				  if(zsdBefore != zsdNow){
					  savezsd();
				  }
			  }
			  
		  }
	      
	      //增加Ctrl+s保存知识点
	      function Ctrl(){
	    	  
	    	  if(event.ctrlKey == true && event.keyCode == 83){
	    		  cut();
	    		  event.returnValue=false;  //不同浏览器之间会有阻塞，现在有点懒，以后碰到问题写个多浏览器判断即可
	        	}
	    	  
	      }
	    
	  </script>
	  
	  
	  
	  <!-- 获取或者删除上传文件(对上传文件的操作)-->
	  <script type="text/javascript">
	  
	     <!-- 获取节点上的上传文件 -->
	     function getUpload(){
	    	 
	    	cut(); 
	    	var nodeid = parent.get_selected_nodeid();
	    	var html = "";
	    	var da={"nodeId":nodeid};
	    	var data=JSON.stringify(da);
	    	   $.ajax({
	    		   type : "POST",
				   url : "/mindMap/getMapUpload",
				   dataType:"json",
				   contentType:"application/json",
				   data : data,
				   
				   success: function(data){
					   $('#a_content').summernote('destroy');
					   $("li").removeClass("active");
					   $("#myFile").addClass("active");
					   var stust = data.data;
					   if(data.code == 200){
						   console.log("获得到数据啦："+ stust);
						   $.each(stust,function(index,content){
							   console.log("到这里啦");
							   if(content.fileType== "other"){
								   html = html+"<div class='box'><div><img src='"+content.tubiao+"'><a class='name' href='/pdf/generic/web/viewer.html?file="+content.filePath+"'>"+content.fileName+"</a>"+
								       "<span class='span'>"+
									   "<a href='pdf/generic/web/viewer.html?file="+content.filePath+"'><i class='iconfont icon-chakan' id='sp' style='color: green;'></i></a>"+
									   "<a  onclick='delUpload("+content.fileId+");'><i class='iconfont icon-shanchu' id='sp' style='color:black;'></i></a>"+
								       "</span></div></div>";
							   } else {
								   html = html+"<div class='box'><div><img src='"+content.tubiao+"'><a class='name' href='"+content.filePath+"'>"+content.fileName+"</a>"+
								       "<span class='span'>"+
									   "<a href='"+content.filePath+"'><i class='iconfont icon-chakan' id='sp' style='color: green;'></i></a>"+
									   "<a  onclick='delUpload("+content.fileId+");'><i class='iconfont icon-shanchu' id='sp' style='color:black;'></i></a>"+
								       "</span></div></div>";
							   }
							   
						   });
						   
					   } else {
						   html += "</br></br></br></br></br></br><h1 align='center'>暂无上传文件</h1>";
					   }
					   
					   $("#a_content").html(html);
					   
				   },
				   
				   
	    	   });
	    	 
	     }
	  
	     
	    <!-- 删除节点上的文件  -->
		function delUpload(fileId){
			
			var adata={"fileId":fileId
			         };
			var data=JSON.stringify(adata);
			
			  $.ajax({
				  type:"POST",
				  contentType:"application/json",
				  dataType:"json",
				  url:"/mindMap/delMapUpload",
				  data:data,
				  
				  success:function(data){
					  
					  if(data.a==1) {
						  alert("删除成功");
						  window.location.reload();
					  }else{
						  alert("删除失败");
					  }
				  },
				  
				  error:function(e){
					  alert("访问删除接口失败");
				  }
				  
			  });		
			
			}	     
	     
	  </script>
  
  
  
      <!-- 文件上传  -->
      <script type="text/javascript">
      
         //加载上传文件的页面
         function uploadShow(){
        	 
        	 cut();
        	 $('#a_content').summernote('destroy');
			 $("li").removeClass("active");
			 $("#UploadFile").addClass("active");
        	 
			 var html = "";
			 html += "<div class='box1'>";
			 html += "<i class='iconfont icon-wendangtianjia' id='wj'></i>";
			 html += "<input type='file' id='wenjian' name='wenjian' onclick='showButton()' value='' style='margin:0 auto;' title='上传附件'>";
			 html += "</div><div id='button'></div>";
			 
        	 $("#a_content").html(html);
        	 
         }
         
         
         //若有上传文件，则显示上传按钮
         function showButton(){

        	 var html = "";
        	 
        	 if($("#wenjian").val()== ""){
        		 html += "<button class='btn btn-success' type='button' style ='margin-top:10px; float:right;' onclick='uploadFile()'>上传</button>";
        		 $("#button").html(html);
        	 } else{
        		 $("#button").html(html);
        	 }
        	 
         }
         
         
         //节点上传文件
	   	 function uploadFile(){
	 		 
			 var formData = new FormData();
			 var nodeid=parent.get_selected_nodeid();
			 var rootid = parent.getRootId();
		  	 formData.append("file",$("#wenjian")[0].files[0]);
		  	 formData.append("nodeId",nodeid);
		  	 formData.append("rootId",rootid);
		  	  
		     $.ajax({
		         url: '/mindMap/setMapUpload',
		         type: 'post',
		         data : formData, 
		         processData : false, 
		         contentType : false,
		        
		         success: function (data) {
		        	 if(data.a == "1"){
		        	 	console.log("文件上传成功");
		        		 alert("上传成功");
		        		 uploadShow();
		        	 } else if (data.a == "5"){
		        		 alert("不是您的知识图谱");
		        		 uploadShow();
		        	 } else if (data.a == "2"){
		        		 alert("上传失败");
		        		 uploadShow();
		        	 }
		          },
		          error: function (data) {
		              alert("服务器向你抛了个异常");
		          } 
		      }); 
			  
		  }
         
         
      </script>
      
  
  <div id="store"></div>  <!-- 作为全局变量存储知识点描述 -->
  




</body>
</html>