<!DOCTYPE html>
<html>
  <head>
    <title>view.html</title>
	
	<meta charset="utf-8">
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
  
  

 </head>
  
  
  <!--分割线   以上是js脚本中的功能    下面是部分必要的静态界面和上传文件和新建文件夹所必须的两个模态框  -->
  <style type="text/css">
         
      #tp{
		    background: #f3f3f3 !important;  /* 固定导航栏样式 */
		 }
	  .top{
            background: rgb(255, 252, 252);
         }
         a:link {
		    color: #34AA4B;
		    text-decoration: none; 
		}
    	.calendar-title {
		    text-align: center;
		    height: 28px; 
		    text-align: left;
		}
     </style>

  <!-- AJAX上传文件 -->
  <script type="text/javascript">

	  function upload(){
		  var formData = new FormData();
		  var name = $("#wenjian").val();
		  console.log("name:"+name);
		  formData.append("file",$("#wenjian")[0].files[0]);
		  console.log(formData);
		  $.ajax({
			  url: '/filesInfo/uploadallfile',
			  type: 'post',
			  data : formData,
			  processData : false,
			  contentType : false,

			  success: function (data) {
				  if(data.a == "1"){
					  getAll(0,0);  //上传成功
				  } else if(data.a == "2"){
					  alert("上传文件失败");
					  getAll(0,0);
				  }
			  },
			  error: function (data, status, e) { ////修改
				  alert("服务器向你抛了个异常");
				  getAll(0,0);
			  }
		  });

	  }
  </script>
  
  
  
  <body>
     	
      <div>
	   
         <br>
	    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; <span style="color:#0FCECE;font-size:23px;">资源管理</span>
	      <span style="color:#0FCECE;font-size:10px;">&nbsp;&nbsp;>></span>
	      <span id="haoge">我的资源</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  <span class="glyphicon glyphicon-circle-arrow-up"></span>
		  <span class="hover" data-target="#newupload" data-toggle="modal" style="cursor: pointer">上传</span>&nbsp;&nbsp;&nbsp;
         <hr style="border-color:black;width:90%;text-align:left;margin-left:100px">
    
    </div>
<center>
 <div class="divcss-a" id="view" >
       
         <div id="show">&nbsp;</div> 
         
         <div  class="alldom">
            
		    <ul id="divall">
		    </ul>
		 </div>

	    </div>
	 </div>
	  
	   <!-- 图片缩放加载区(点击周边将显示的图片关闭) 放在外边显示效果较好-->
       <div class="shadeImg" onclick="javascript:closeShadeImg()">
	   <div class=""><img class="showImg" src=""></div>
       </div>
       

	 
    
    <!-- 新建文件夹模态框 -->
    <div class="modal fade" id="newView" tabindex="-1" role="dialog"
		aria-labelledby="newlabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="newlabel" >新建文件夹</h4>
					<div class="modal-body">
				            名称 :<input type="text" id="newName"></br>
				   <!--   &nbsp;i&nbsp;d&nbsp;&nbsp;&nbsp;:<input type="text" id="newId"> -->     
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-success" id="new" data-dismiss="modal">确认</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 上传文件模态框 -->
	<div class="modal fade" id="newupload" tabindex="-1" role="dialog"
		aria-labelledby="newlabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="newlabel" >上传文件</h4>
					<div class="modal-body">
		                  
		                  <input type="file" id="wenjian" name="wenjian" value="" title="上传附件">
		                  <input style="display:none" id="upload_hide" />
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-success"  data-dismiss="modal" onclick="upload()">确认</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 右键菜单 -->
	<div id="mm" class="easyui-menu" style="width: 120px;height:auth; z-index: 99999" hidden="hidden">
	<div data-options="iconCls:'icon-edit'" onClick="delFile()" style="height:40px;padding:10px 0;" >删除</div>
	<div class="menu-sep"></div>
	<div data-options="iconCls:'icon-edit'" onClick="newFile()" style="height:40px;padding:10px 0;" >新建</div>
	<div class="menu-sep"></div>
	<div data-options="iconCls:'icon-edit'" onClick="shareFile()" style="height:40px;padding:10px 0;" >分享</div>
	<div class="menu-sep"></div>
	<div data-options="iconCls:'icon-edit'" onClick="collectionFile()" style="height:40px;padding:10px 0;" >收藏</div>
	<div class="menu-sep"></div>
	</div>
	
	<div id="isme" hidden="hidden"></div>
	<div id="o" hidden="hidden"></div>
	<div id="f" hidden="hidden"></div> 

  <!-- 侧边栏 显示思维导图小窗口 -->
  <style>
       
       	.app {
		    height: 100%;
		    min-height: 500px;
		    width: 60%;
		    float: right;
		    background: #eeeeee;
		    /* position: fixed; */
		    right: 0px;
		    top: 50px;
		    z-index: 110017;
        } 
        .leftbtn{ 
            height: 0;
            width: 0;
            border-top: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid #1abc9c;
            z-index: 110016;
            position: fixed;
            top: 49%;
            /* right: 222px; */
        } 
        .rightbtn{ 
            height: 0;
            width: 0;
            border-top: 10px solid transparent;
            border-right: 10px solid #1abc9c;
            border-bottom: 10px solid transparent;
            border-left: 10px solid transparent;
            z-index:110016;
            position: fixed;
            top: 49%;
            right: 0;
        }
        .none{
            display: none;
        }
       
        </style>


</center>
  </body>
   <script src="/js/jquery.min2.1.4.js"></script>
    <!--  <script src="js/jquery.3.3.1.js"></script> -->
    <script src="/js/jquery.json-2.4.js"></script>
    <script src="/js/json2.js"></script>
    <script src="/pdfjs/build/pdf.js"></script>
    <script src="/pdfjs/build/pdf.worker.js"></script>
    <script type="text/javascript" src="/999/zeroModal.min.js"></script>
    <script src="/mindmap/jquery.easyui.min.js" type="text/javascript"></script>
    <!-- <script src="js/jquery.min.js"></script> -->
    <link rel="stylesheet" type="text/css" href="/css/hotai/view.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/css/jquery.contextmenu.css">
    <link rel="stylesheet" type="text/css" href="/css/index/floder.css"  >
    <link rel="stylesheet" type="text/css" href="/css/index/imageShrink.css" >
    <link rel="stylesheet" type="text/css" href="/999/zeroModal.css" >
    <link rel="stylesheet" type="text/css" href="/mindmap/easyui.css">
    <script type="text/javascript">
   
   //获取客户端ip函数
   function getUserIP(onNewIP) {
         
         var myPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
         var pc = new myPeerConnection({
            iceServers: []
        }),
        noop = function() {},
        localIPs = {},
        ipRegex = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g,
        key;
    
        function iterateIP(ip) {
            if (!localIPs[ip]) onNewIP(ip);
            localIPs[ip] = true;
       }
    
         //create a bogus data channel
        pc.createDataChannel("");
    
        // create offer and set local description
        pc.createOffer().then(function(sdp) {
            sdp.sdp.split('\n').forEach(function(line) {
                if (line.indexOf('candidate') < 0) return;
                line.match(ipRegex).forEach(iterateIP);
            });
            
            pc.setLocalDescription(sdp, noop, noop);
        }).catch(function(reason) {
            // An error occurred, so handle the failure to connect
        });
    
        //sten for candidate events
        pc.onicecandidate = function(ice) {
            if (!ice || !ice.candidate || !ice.candidate.candidate || !ice.candidate.candidate.match(ipRegex)) return;
            ice.candidate.candidate.match(ipRegex).forEach(iterateIP);
        };
   }
   var storage=window.localStorage;
   getUserIP(function(ip){
	  
	   storage.setItem("ip",ip);
});


     //调用方法，实现预加载
     //文中许多全局变量是通过documrnt赋值的，好用（可以用空标签）
     //特别重要的讲下，当传参为字符串时， “”会当成分隔符， 引号应该这样写 （   \"   ）
     $(function(){
    	 
    	 getAll(0,0);
  
     });
     
     function getAll(parentId,store){
    	 
    	 var html="";
    	 var adata={"f_parentid":parentId};
         var data=JSON.stringify(adata);
         document.getElementById('view').value=store;
         document.getElementById('show').value=parentId;
         document.getElementById('upload_hide').value=parentId; 
        var userip=storage.getItem("ip")+":443";
        var gong=window.location.host;
         $.ajax({
             type:"POST",
             dataType:"json",
             data:data,
             contentType:"application/json",
             url:"/filesInfo/getAllFile",
             success:function(data){
          	    if(data.code == 200){
          	    	var files = data.data;
					$.each(files,function(i,a){
						console.log("路径："+a.filePath);

						if(a.fileType=="video"){
							html+="<li class='aaa' style='text-align:center'>";
							html+="<img src='/images/dota2/video.jpg' oncontextmenu='onMouseOver("+a.files+",\""+a.zsdid+"\")' style='width:80px;height:60px;' class='hover'  value='"+a.f_parentid+"' id='"+a.files+"' ondblclick='_iframe(\"http://"+window.location.host+a.filepath+"\")' >";
							html+="<div>"+a.fileName+"</div>";
							html+="</li>";
						}else if(a.fileType=="picture"){

							html+="<li class='aaa' style='text-align:center'>";
							html+="<img src='http://"+window.location.host+""+a.filePath+"'  oncontextmenu='onMouseOver("+a.files+",\""+a.zsdid+"\")' style='width:80px;height:60px;' class='hover' value='"+a.f_parentid+"' id='"+a.files+"' onclick='lookBigImg(this)' >";
							html+="<div>"+a.fileName+"</div>";
							html+="</li>";
						}else if(a.fileType=="other"){

							html+="<li class='aaa' style='text-align:center'>";
							html+="<img src='/images/dota2/other.jpg' oncontextmenu='onMouseOver("+a.files+",\""+a.zsdid+"\")' style='width:80px;height:60px;' class='hover ' value='"+a.f_parentid+"' id='"+a.files+"' ondblclick='_iframe(\"viewer.html?file=https://"+window.location.host+""+a.filepath+"\")' >";
							html+="<div>"+a.fileName+"</div>";                                                                                                                                                                        /*  (\"pdf/generic/web/viewer.html?file=http://"+window.location.host+""+a.filepath+"\")' >";    */
							html+="</li>";
						}else if(a.fileType=="doc"){

							html+="<li class='aaa' style='text-align:center'>";
							html+="<img src='/images/dota2/doc.jpg' oncontextmenu='onMouseOver("+a.files+",\""+a.zsdid+"\")' style='width:80px;height:60px;' class='hover' value='"+a.f_parentid+"' id='"+a.files+"' ondblclick='_iframe(\"http://"+window.location.host+""+a.filepath+"\")' >";
							html+="<div>"+a.fileName+"</div>";
							html+="</li>";
						}else if(a.fileType=="file"){

							html+="<li class='aaa' style='text-align:center'>";
							html+="<img src='images/213125.png' oncontextmenu='onMouseOver("+a.files+",\""+a.zsdid+"\")'  style='width:80px;height:60px;' class='hover' value='"+a.f_parentid+"' id='"+a.files+"' ondblclick='getAll("+a.files+","+a.f_parentid+")'>";
							html+="<div>"+a.fileName+"</div>";
							html+="</li>";
						}

					});

				} else {
          	    	alert(data.msg);
				}
             
               $("#divall").html(html);
             	 /*    $("#divall").append(html);   */

               },
           });
    	 
    	 
     }
      
     function lookBigImg(b){
 		$(".shadeImg").fadeIn(500);
 		$(".showImg").attr("src",$(b).attr("src"))
 	    }
     
     function closeShadeImg(){
 		$(".shadeImg").fadeOut(500);
 	    }
     function _iframe(a) {
   	  console.log(a);
   	  var myIframe = document.createElement('iframe');
   	  myIframe.src = a;
   	  document.getElementById("isme").appendChild(myIframe);
          zeroModal.show({
             title: '在线预览',
             iframe: true,
             url: a,
             width: '97%',
             height: '100%',
             top:'0px',
             right:'0px',
             left:'0px',
             cancel: false,                //允许关闭
             resize: false,                //不允许移动
             max: true,                   //允许最大化
             min: true,                   //允许最小化
             dragHandle: 'container',     //点击任意地方框拖动(旺仔摇滚冻即视感)
             opacity: 0.8                 //设置遮罩透明度
             
         });
     }
     </script>
    
   
   <!-- 点击刷新局部页面后面的四个页面 -->
   <script type="text/javascript">
   
   $(function(){
      //点击超链接局部刷新页面
       $("#test2 a").click(function(){
   
          $("#function").load(this.href);
       
          return false;
       
       });
      
   
   });
   
   </script>
   
   
   
   <!-- 新建文件夹的功能 -->
   <script type="text/javascript">
     //新建文件夹
     $(function(){
         //发送当前页面的id,并将新建文件夹的名字一并发过去
          // window.rice=$(this).attr('value');
 
      $("#new").click(function(){
    	  
 	    var adata={"f_name":$("#newName").val(), 
               "f_parentid":document.getElementById('show').value
               };
        var data=JSON.stringify(adata);
      
             $.ajax({
             type:"POST",
             contentType:"application/json",
             dataType:"json",
             data:data,
             url:"saveAllFile.do",
             
             success:function(data){
              
              if(data.a==1){
            	  getAll(0,0);
              }else if(data.a==2){
            	  getAll(0,0);
              }
              
             },
             
             
             });
     
      
          });
   
     });

   
   </script>  
   
     
     
     
   <!-- 动态显示资源后面的文字 -->
   <script type="text/javascript">

     $(function(){
      //动态显示后面的名字
        
         $("a").click(function(){
      
         $("#haoge").html($(this).attr('value'));
       
         });
   
     });
      
   </script>
   

   
   <!-- 我的资源窗口动态加载 -->
   <script type="text/javascript">
     //小窗口加载事件(我的资源窗口加载)
      $(function(){
    	  
    	  $("#mys").click(function(){
    		  
    		  $("#view").load(this.href);
    		  return false;
    		  
    	  });
   	  
      });
   </script>
   
  
  
  
  <!-- 右键菜单功能-->
  <script type="text/javascript">

    function onMouseOver(yaya,nodeid){     
        
    	document.getElementById('o').value=yaya;
        document.getElementById('f').value=nodeid;
        
    	$(this).on('contextmenu',"", function(e) {
			e.preventDefault();
			 $("#mm").css({
				"left": e.pageX,
				"top": e.pageY
			}).show();
		});
     }
    
  </script>
  
  
  <!-- 右键菜单中的函数  -->
  <script type="text/javascript">
  
       <!-- 删除文件 -->
       function delFile(){
	    	
   	       var adata={"f_id":document.getElementById('o').value};
      	   var data=JSON.stringify(adata);  
	      	 
	      	   $.ajax({
	      		 type:"POST",
	      		 contentType:"application/json",
	      		 dataType:"json",
	      		 url:"deleteallfile.do",
	      		 data:data,
	      		 
	      		 success:function(data){
	      			 
	      			 if(data.a==1){
	      				 alert("删除成功");
	      				 getAll(0,0);
	      			 }else if(data.a==2){
	      				 alert("删除失败");
	      				 getAll(0,0);
	      			 }
	      		 
	      		 },
	      		 
	      		 error:function(e){
	      			 alert("连接失败");
	      			 getAll(0,0);
	      		 }
	    		 
	      	 });   
       }

  </script>
  
  

  
</html>
